@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bgColor {
    background-image: linear-gradient(to bottom right, #2980b9, #6dd5fa);
}

.bgImage {
    background: url('images/marble.jpg');
    /* background-repeat: no-repeat;
        background-size: cover; */
}

header {
    text-align: center;
    /* border: solid 1px red; */
}

header .title {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 1000px;
    font-size: 50px;
    color: black;
    /* border: solid 1px green; */
    margin: 0;
}

nav {
    /* background-color: pink; */
    /* opacity: 0.8; */
    /* border-top: solid 1px;*/
    padding-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav li a {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: brown;
    /* background-color: red; */
    text-decoration: none;
    margin: 0 50px;
    padding: 5px 10px;
    /* border: 1px solid; */
    /* border-radius: 5px; */
}

nav li a:hover {
    background-color: gray;
    color: white;
    font-size: 30px;
    opacity: 0.7;
}

footer {
    width: 50%;
    height: 20%;
    /* position: fixed; */
    /* top: 80%;
    left: 50%; */
    border: solid 1px;
    margin: 0 auto;
    /* margin-left: 0px;
    margin-right: 0px; */
}

.footerLine {
    width: 80%;
    margin: 0 auto;
    border: solid 1px gray;
}

footer .contact li {
    list-style-type: none;
    display: inline-block;
    margin: 0 30px;
}

footer .contact li a {
    text-decoration: none;
    font-size: 20px;
}

.fb:before {
    content: "";
    display: inline-block;
    height: 33px;
    width: 33px;
    background-image: url("images/fb-icon.png");
    margin-right: 7px;
    background-size: cover;
    vertical-align: middle;
}

.ig:before {
    content: "";
    display: inline-block;
    height: 33px;
    width: 33px;
    background-image: url("images/ig-icon.png");
    margin-right: 7px;
    background-size: cover;
    vertical-align: middle;
}

.github:before {
    content: "";
    display: inline-block;
    height: 33px;
    width: 33px;
    background-image: url("images/github-icon.png");
    margin-right: 7px;
    background-size: cover;
    vertical-align: middle;
}