.header-bg {
  background: url("../image/web_development.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.job-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#front-end {
  background-image: url("../image/jobs/frontend.png");
  background-color: yellow;
}

#back-end {
  background-image: url("../image/jobs/backend.png");
  background-color: violet;
}

#full-stack {
  background-image: url("../image/jobs/full-stack.png");
  background-color: skyblue;
}

#devops {
  background-image: url("../image/jobs/devops.png");
  background-color: pink;
}

#database {
  background-image: url("../image/skill/back-end/database.png");
}

#nodejs {
  background-image: url("../image/skill/back-end/nodejs.png");
}

#os {
  background-image: url("../image/skill/back-end/os.png");
}

#html {
  background-image: url("../image/skill/front-end/html.png");
}

#css {
  background-image: url("../image/skill/front-end/css.png");
}

#react {
  background-image: url("../image/skill/front-end/react.png");
}

#git {
  background-image: url("../image/skill/common/git.png");
}

#js {
  background-image: url("../image/skill/common/js.png");
}

#terminal {
  background-image: url("../image/skill/common/terminal.png");
}

#datastructure {
  background-image: url("../image/skill/common/data-structure.png");
}

#algorithm {
  background-image: url("../image/skill/common/algorithm.png");
}

#fb {
    background-image: url('../image/social/fb.png');
}
#ig {
    background-image: url('../image/social/ig.png');
}

#linkedin {
    background-image: url('../image/social/linkedin.png');
}

#github {
    background-image: url('../image/social/github.png');
}

#person-img {
    background-image: url('../image/person.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#coursera {
    background-image: url('../image/resource/coursera.png');
}

#edx {
    background-image: url('../image/resource/edX.png');
}

#udacity {
    background-image: url('../image/resource/udacity.png');
}

#udemy {
    background-image: url('../image/resource/udemy.png');
}

#resource{
    background-image: url('../image/blackboard.jpg');
}
.social-tag {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.skill-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.resource-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 10;
  }
