@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    height: 100vh;
}

.side-bar {
    background-color: rgb(224, 218, 218);
    position: relative;
}

.side-bar--width {
    flex: 1;
}

.main__image {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top:0;
    z-index: -1;
}


.main {
    position: relative;
}

.main--width {
    flex: 3;
}

.main__btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    font-size: 3rem;
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: gray;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    outline: none;
    
}

.name-logo {
    text-align: center;
    font-size: 6rem;
    font-family: 'Satisfy', cursive;
    margin: 6rem auto;
}

.nav {
    margin: 10rem auto;
}

.nav__link {
    text-align: center;
    margin: 2.5rem auto;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5rem;
    text-transform: capitalize;
}

.nav__link a:link {
    color: rgb(128, 130, 131);
    text-decoration: none;
}

.nav__link a:visited {
    color: rgb(128, 130, 131);
    text-decoration: none;
}

.nav__link a:hover {
    color: black;
    font-size: 3rem;
}

.nav__link a:active {
    background-color: rgba(199, 191, 191, 0.733);
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.footer {
    position: absolute;
    bottom: 10vh;
    width: 100%;
}

.footer__social {
    text-align: center;
    width: 100%;
}

.social__tag {
    display: inline-block;
    font-size: 2rem;
    margin: 1rem;
    color: rgb(7, 22, 56)
}

.footer__copy {
    color: rgba(155, 148, 148, 0.74);
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
}

.intro {
    margin-top: 10rem;
    text-align: center;
}
.intro__photo {
    margin: 2rem auto;
    background-image: url(../images/gilbet.jpg);
    background-position: center;
    background-size: cover;
    width: 20rem;
    height: 20rem;
    border: white 0.5rem solid;
    border-radius: 50%;
}

.intro__name {
    text-align: center;
    font-family: 'Francois One', sans-serif;
    font-size: 6rem;
    margin: 2rem auto;
}

.intro__info {
    width: 70%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.8rem;
    margin: 2rem auto;
    line-height: 2;
}

