@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    height: 100vh;
}

.side-bar {
    background-color: rgb(224, 218, 218);
    position: relative;
}

.side-bar--width {
    flex: 1;
}

.main__image {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    top:0;
    z-index: -1;
}


.main {
    position: relative;
}

.main--width {
    flex: 3;
}

.name-logo {
    width: 100%;
    text-align: center;
    font-size: 6rem;
    position: absolute;
    top: 10vh;
    font-family: 'Satisfy', cursive;
}

.nav {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30vh;
}

.nav__link {
    text-align: center;
    margin: 2rem auto;
}

.nav__link--font {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    color: rgb(117, 122, 128);
    
}

.social {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10vh;
}

.social__tag {
    display: inline-block;
    font-size: 2rem;
    margin: 1rem;
    color: rgb(7, 22, 56)
}