@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Fira+Sans+Condensed:wght@500&family=Open+Sans+Condensed:wght@300&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@700&family=Indie+Flower&family=Piedra&display=swap');
p {
   font-family: 'Barlow Condensed', sans-serif;
   font-size: 1.5em;
}

header h1 {
    font-family: 'Bree Serif', serif;
    font-size: 4em;
    text-align: center;
    color: wheat;
}

header .sub {
    font-family: 'Homemade Apple', cursive;
    font-size: 2em; 
    text-align: center;
    color:white;
}

h2 {
text-align: center;
font-size: 2.5em;
font-family: 'Fira Sans Condensed', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    color: brown;
}

h4 {
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 2em;
    color: white;
    
}

.job-name {
text-align: center;
color: white;
font-size: 1.5em;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: bolder;
}

.job-title {
    color: white;
}

.skill-name {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

#person-info h1, #person-info p {
    text-align: center;
    color: white;
}

#person-info h1 {
    font-weight: bolder;
}

.web-name{
    font-size: 3em;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
}



