header {
    height:50vh;
    width: 100%;
    text-align: center;

}

.header-bg {
    /* display: inline-block; */
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

header h1 {
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 0;
}

.intro {
    margin: 0 auto;
}

.intro-flex {
    display: flex;
    width: 100%;
}

.intro-flex div {
    flex: 1;
    margin: 0 3%;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.jobs {
    background-color: black;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.jobs-flex {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

 /* for debug */
.job-img, .job-name {
    border: 3px white solid;
}

.job {
    flex-basis: 20%;
    width: 100px;
    background-color:green;
    
}

.job-img {
    width: 90%;
    height: 8em;
    margin: 10px auto;
}

.job-name {
    margin: 10px auto;
    width: 90%;
    background-color: tomato;
}

.skill-grid {
    display: grid;
    width: 80%;
    border: solid 1px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
}

.skill-item {
    border: solid 1px;
    border-radius: 10px;
}


#common-skill {
    grid-column: 1 / 3;
}

.skill-img {
    width: 8em;
    height: 8em;
    margin: 0 auto;
}

.skill-list {
    display: grid;
    border: solid 1px red;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: 3fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.skill-list div {
    border: green solid 1px;
}











