header {
    height:50vh;
    width: 100%;
    text-align: center;

}

.header-bg {
    /* display: inline-block; */
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

header h1 {
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 0;
}

.intro {
    margin: 0 auto;
}

.intro-flex {
    display: flex;
    width: 100%;
}

.intro-flex div {
    flex: 1;
    margin: 0 3%;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.jobs {
    background-color: #333333;
    margin-top: 1em;
    padding-top: 2em;
    padding-bottom: 5em;
}

.jobs-flex {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

 /* for debug */
.job-img, .job-name {
    border: 3px white solid;
}

.job {
    flex-basis: 20%;
    width: 100px;
    background-color:green;
    
}

.job-img {
    width: 90%;
    height: 8em;
    margin: 10px auto;
}

.job-name {
    margin: 10px auto;
    width: 90%;
    background-color: tomato;
}

.skill-grid {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 3em auto;
    gap: 2em;
}

.skill-item {
    border: double 3px skyblue;
    border-radius: 20px;
}


#common-skill {
    grid-column: 1 / 3;
}

.skill-img {
    width: 8em;
    height: 8em;
    margin: 0 auto;
}

.skill-list {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    padding: 1em 0.7em;
}

.skill-name {
    margin-top: 5px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}


#contact {
    background-color: #660000;
}

/* #resource {
    background-color: #004de6;
} */

#social {
    background-color: black;
    grid-column: 1 / span 2;
    text-align: center;
    height: 8vh;
}

.social-tag {
    display: inline-block;
    width: 3em;
    height: 3em;
    margin: 0 0.5em;
}

h4 {
    margin: 1em 0;
}
.person-flex {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    margin-top: -1.5em;
}

.img-flex {
    flex:2;
   margin: 0 1em;
}

.v-center {
    position: relative;
     top: 50%; 
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}
#person-img {
    width:13em;
    height: 13em;
    margin:0 auto;
}

.resource-grid {
    display: grid;
    width: 90%;
    height: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    gap: 5em;
}

.link-flex {
    display: flex;
    width: 100%;
}

.resource-img {
    flex:2;
    background-color: white;
    border-radius: 50%;
}

.web-name {
    flex: 3;
    margin-top: 6%;
    margin-left: 0.3em;
}

#location {
    width: 70%;
    margin: 0 auto;
}













