.spur-kawhi {
    background-image: url(../image/card/spur/kawhi.jpg);
}

.spur-tim {
    background-image: url(../image/card/spur/tim-duncan.jpeg);
}

.spur-manu {
background-image: url(../image/card/spur/manu-ginobili.jpg);
}

.spur-tony {
    background-image: url(../image/card/spur/tony-parker.jpeg);
}

.spur-paty {
    background-image: url(../image/card/spur/paty-mills.jpg);
}

.spur-danny {
    background-image: url(../image/card/spur/danny-green.jpg);
}

.spur-bowen {
    background-image: url(../image/card/spur/bowen.jpg);
}

.spur-robinson {
    background-image: url(../image/card/spur/robinson.jpg);
}