@import url('https://fonts.googleapis.com/css2?family=Galada&family=Josefin+Sans:wght@600&family=Yellowtail&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 3rem;
  border: 1px solid;
}

h1 {
  text-align: center;
}

.header-main {
  position: relative;
  width: 100%;
  height: 40vh;
}

.text-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-primary {
  padding: 0rem 1rem;
  /* background-color: blue; */
  font-family: "Galada", cursive;
  font-size: 7rem;
  color: rgba(45, 37, 160, 0.801);
}

.bg-img {
  background-image: url(../image/header/spur.jpg);
  background-size: cover;
  background-position: top;
  opacity: 0.7;
  width: 100%;
  height: 100%;

  z-index: -1;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 3rem;

  width: 10rem;
  z-index: 1;
  background-color: aliceblue;
}

.team-options {
  font-family: "Yellowtail", cursive;
}

.team-ask {
  display: block;
  font-size: 4rem;
  text-align: center;
  color: brown;
}

.team-select {
  width: 50%;
  height: auto;
  margin: 0.5rem auto;
  display: block;

  font-size: 2em;
}

.new-btn {
  display: block;
  width: 40%;
  height: 8rem;
  border-radius: 100px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
  color: gray;
  background-color: white;

}

.game-area {
  display: flex;
  height: 70vh;
  /* width: 100%; */
}

.game-board {
  flex-basis: 70%;
}

.score-board {
  flex-basis: 30%;
}

.card-grid {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 1rem;
  margin:1rem
}


.flip-down {
  background-image: url(../image/card/back.jpg);
  background-position: center;
  background-size: cover;
}

.flip-up {
  background-position: center;
  background-size: cover;
}
