@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Merienda&family=Sacramento&family=Saira+Extra+Condensed:wght@300&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Seaweed+Script&display=swap');

@font-face {
  font-family: "eraser";
  src: url("../font/EraserRegular.ttf") format("truetype");
}

@font-face {
  font-family: "foolish";
  src: url("../font/foolishpeopleDEMO.otf");
}