@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Merienda&family=Sacramento&family=Saira+Extra+Condensed:wght@300&family=Satisfy&display=swap');

@font-face {
    font-family: 'eraser';
    src: url('font/EraserRegular.ttf') format('truetype')
}

@font-face {
    font-family: 'foolish';
    src: url('font/foolishpeopleDEMO.otf')
}

* {
    box-sizing: border-box;
}

.world-map {
    background-image: url(./img/worldmap.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    height: 16rem;
    margin: 0 auto;
    border: 1px solid;
    
}

.article {
    width: 50%;
    margin: 0 auto;
}
header .title {
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    text-align: center;
}

header .sub-title {
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    text-align: center;
}

h1 {
    font-family: 'Merienda', cursive;
    font-size: 2em;
    text-align: center;
}

.article p {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.2em;
}

.score-board {
    background-image: url(./img/texture/blackboard.jpg);
    padding-top: 2em;
    padding-bottom: 2em;
}

.score-board h1 {
    font-family: 'eraser';
    color: whitesmoke;
    font-size: 3em;
    margin: 0;
}

.score-chart {
    width: 50%;
    height: 25em;
    margin: 0 auto;
    /* border: solid 1px; */
    display: flex;  
    flex-flow: column nowrap; 
    justify-content: space-between;
}

.hist {
    /* border: red solid 1px; */
    flex: 1;
}

.hist-title {
    margin: 0.2em;
    font-family: 'foolish';
    font-size: 2em;
    color: whitesmoke;
}

.hist-data {
    height: 40%;
    display: flex;
    background-color: wheat;
}

.score {
    background-color: #616161;
    height: 100%; 
    text-align: right;
}

.score p {
    margin-right: 0.6em;
    margin-top:1.5%;
    margin-bottom: 0;
}
.taiwan .score {
    width: 100%;
}
.bangkok .score {
    width:90%;
}

.sydney .score {
    width:70%;
}

.osaka .score {
    width:85%;
}

.seoul .score {
    width:80%;
}

