@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.tableCSS {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
.tableCSS table {
  table-layout: fixed;
  width: 100%;
  /* border-collapse: collapse; */
}

.tableCSS thead th:nth-child(1) {
  width: 30%;
}

.tableCSS thead th:nth-child(2) {
  width: 20%;
}

.tableCSS thead th:nth-child(3) {
  width: 15%;
}

.tableCSS thead th:nth-child(4) {
  width: 35%;
}

.tableCSS th,
.tableCSS td {
  padding: 20px 25px;
  border: double;
}

.tableCSS th {
    letter-spacing: 2px;
    background: url("../images/wood/wood_dark.jpeg");
    color: white;
}



.tableCSS td {
    letter-spacing: 1px;
}

.tableCSS thead,
.tableCSS tfoot {
   font-family: 'Rock Salt', cursive;;
}

.tableCSS tbody td {
    text-align: center;
    background: url('../images/wood/wood_shallow.jpg');
}

.tableCSS tbody th {
  background: url('../images/wood/wood_med.jpeg');
}

.tableCSS tfoot th {
    text-align: right;
    background: url("../images/wood/wood_old.jpg");
}

.tableCSS tfoot td{
  background: url("../images/wood/wood_old.jpg");
  color: white;
}

caption {
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}